Repository mathieurobert1/MyTeams, pull requests merged in 2024-04, with the labels that each got.

#54 feat: add the saving and loading all datas
  .gitignore
  server/Makefile
  server/include/data.h
  server/include/types.h
  server/src/commands/handle_commands.c
  server/src/data/deserialization/channel.c
  server/src/data/deserialization/message.c
  server/src/data/deserialization/server.c
  server/src/data/deserialization/string.c
  server/src/data/deserialization/team.c
  server/src/data/deserialization/thread.c
  server/src/data/deserialization/user.c
  server/src/data/load.c
  server/src/data/save.c
  server/src/data/serialization/channel.c
  server/src/data/serialization/message.c
  server/src/data/serialization/server.c
  server/src/data/serialization/string.c
  server/src/data/serialization/team.c
  server/src/data/serialization/thread.c
  server/src/data/serialization/user.c
  server/src/init_server.c
  server/src/main.c
Labels: enhancement, database

#63 Refractor/update the threads structure
  server/Makefile
  server/include/data.h
  server/include/lists.h
  server/include/types.h
  server/src/data/deserialization/comment.c
  server/src/data/deserialization/thread.c
  server/src/data/serialization/comment.c
  server/src/data/serialization/thread.c
  server/src/lists/comment_list.c
  server/src/lists/threads_list.c
Labels: enhancement, command

#64 Feat/create list command
  server/Makefile
  server/include/data.h
  server/include/utils.h
  server/src/commands/get_uuid.c
  server/src/commands/list.c
  server/src/commands/messages.c
  server/src/commands/send.c
  server/src/commands/subscribe.c
  server/src/commands/subscribed.c
  server/src/commands/subscribed_utils.c
  server/src/commands/unsubscribe.c
  server/src/commands/user.c
  server/src/commands/users.c
  server/src/commands/utils/command.c
  server/src/commands/utils/get_instance.c
  server/src/commands/utils/list_instance.c
  server/src/commands/utils/uuid.c
  shared/include/protocol.h
Labels: enhancement, command

#67 Feat/linking server logs with client
  cli/src/main.c
  server/src/commands/handle_commands.c
  server/src/commands/login.c
  server/src/commands/logout.c
  server/src/commands/messages.c
  server/src/commands/send.c
  server/src/commands/subscribe.c
  server/src/commands/unsubscribe.c
  server/src/commands/user.c
Labels: enhancement, command

#65 Feat/create create command
  cli/src/main.c
  server/Makefile
  server/include/commands.h
  server/include/lists.h
  server/src/commands/create.c
  server/src/commands/create/create.c
  server/src/commands/create/create_channel.c
  server/src/commands/create/create_reply.c
  server/src/commands/create/create_team.c
  server/src/commands/create/create_thread.c
  server/src/lists/channels_list.c
  server/src/lists/teams_list.c
  server/src/lists/threads_list.c
Labels: enhancement, command

#70 Feat/create info command
  server/include/lists.h
  server/include/types.h
  server/src/commands/create/create_thread.c
  server/src/commands/info.c
  server/src/lists/threads_list.c
Labels: command

#71 Fix/link response to client for list
  server/Makefile
  server/include/list_command.h
  server/include/lists.h
  server/include/types.h
  server/include/utils.h
  server/src/commands/create/create_reply.c
  server/src/commands/list.c
  server/src/commands/list/channels.c
  server/src/commands/list/list.c
  server/src/commands/list/replys.c
  server/src/commands/list/threads.c
  server/src/commands/utils/command.c
  server/src/commands/utils/list_instance.c
  server/src/commands/utils/print_instance.c
  server/src/lists/comment_list.c
Labels: command

#72 Feat/link response to client subscribed command
  server/Makefile
  server/include/types.h
  server/src/commands/logout.c
  server/src/commands/subscribed.c
  server/src/commands/subscribed/subscribed.c
  server/src/commands/subscribed/subscribed_utils.c
  server/src/lists/users_list.c
Labels: command

#74 Fix/infinite loop in load data form server
  server/src/data/deserialization/channel.c
Labels: bug, database

#77 fix: call server_event_user_logged_in after client create user
  server/src/commands/login.c
Labels: bug, command

#78 feat: link response to client for messages command
  server/include/types.h
  server/src/commands/messages.c
  server/src/lists/messages_list.c
Labels: bug, command

#83 feat: link response to client for users command
  server/src/commands/users.c
Labels: command

#84 feat: link response to client for user command
  server/src/commands/user.c
Labels: command

#88 fix: error of status log user
  server/src/commands/login.c
  server/src/data/deserialization/user.c
Labels: bug, command

#94 fix: add check if fd is set and select valid
  server/src/commands/list/channels.c
  server/src/commands/list/replys.c
  server/src/commands/list/threads.c
  server/src/commands/login.c
  server/src/commands/logout.c
  server/src/commands/messages.c
  server/src/commands/send.c
  server/src/commands/subscribe.c
  server/src/commands/unsubscribe.c
  server/src/commands/user.c
  server/src/commands/users.c
  server/src/commands/utils/print_instance.c
Labels: bug, command

#96 feat: check if we can write on file descriptor for load and save server
  server/src/data/load.c
  server/src/data/save.c
Labels: bug, database

#79 feat (wip): Create a first version of RFC documentation
  doc/RFC.txt
Labels: documentation

#98 Tests/create tests
  .gitignore
  Makefile
  cli/Makefile
  server/Makefile
  tests/server/test_accept_connection.c
  tests/server/test_create.c
  tests/server/test_data_serailize_comment.c
  tests/server/test_data_serialize_messages.c
  tests/server/test_data_serialize_thread.c
  tests/server/test_server_data_serialize_string.c
Labels: tests
